body{ 
    font-family: Century Gothic, sans-serif;
    color: #FFFFFF;
	margin: 0;
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
img.background{
    position: fixed;
    top: 50%;
    left: 50%;
	
	z-index: -1;

    width: auto;
    height: auto;

    max-height: none;
    max-width: none;

    min-height: 100%;
    min-width: 100%;

    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

								/* NAVI BAR on top */
						
#menuItem {
	font-family: 'Exo', sans-serif;
	font-size: 20px;
}

#menuItem:link {
	color: #154360;
	text-decoration: none;
}

#menuItem:hover {
	color: white;
	text-decoration: none;
}

#menu {
	position: fixed;
	top: 1.5%;
    width: 100%;
	margin: 8px;
	border-left: 9px solid white;
	border-radius: 1px;
	background-color: darkgrey;
	padding: 6px;
	z-index: 99;
	background-image: url("images/metallic_sheen.jpg"); 
	background-repeat: no-repeat;
    background-size: cover;
}

#menuFront {
	position: fixed;
	top: 1.5%;
    width: 100%;
	margin: 8px;
	margin-left: 16.8px;
	border-left: 9px transparent;
	border-radius: 1px;
	background-color: transparent;
	padding: 6px;
	z-index: 101;
}

								/* TRUNK PAGE ELEMENTS */

#title {
    font-size: 50px;
    text-align: left;
	padding: 10px;
	margin: 0;
	padding: 60px;
	margin-left: 50px;
	font-weight: normal;
	font-family: 'Indie Flower', cursive;
}

#titleBlack {
	color: #000000;
    font-size: 50px;
    text-align: left;
	padding: 10px;
	margin: 0;
	padding: 60px;
	margin-left: 50px;
	font-weight: normal;
	font-family: 'Indie Flower', cursive;
}

#profilePic {
	display: block;
	margin: auto;
}

								/* MISC ELEMENTS */

a {
	color: #154360;
	text-decoration: none;
	font-family: Arial, Sans-serif;
}

p {
	margin: 8px;
}

#bb8 {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

								/* BLANK SPACES */
div {
	padding: 3px;
}
div.blankSpaceBottom {
	/* min-height: 4em; */
	clear: both;
}
div.blankSpace {
	min-height: 70px;
}
div.blankSpace2 {
	min-height:130px;
}
div.blankSpace3 {
	min-height: 40px;
}
div.blankSpace4 {
	min-height: 130px;
}
div.blankSpace5 {
	min-height: 100px;
}

								/* PROJECT BACKGROUND */
#projectA{
	background-image: url("images/material10.jpg");
	color: #383838;
	font-weight: 800;
}
#projectA a:hover{
	color: #000000;
}

#projectB{
	background-image: url("images/material9.jpg");
	color: #FFFFFF;
}

#projectC{
	color: #FFFFFF;
}
#projectC a{
	color: #FFFFFF;
}

#gallery{
	padding-left: 50px;
	padding-right: 50px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	
	animation: galleryGalleryPulse 10s infinite;
}
.galleryContainer {
  position: relative;
  width: 50%;
}
.galleryOverlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #008CBA;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.galleryContainer:hover .overlay {
  height: 100%;
}

.galleryText {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.grayscale{-webkit-filter: grayscale(100%); filter: grayscale(100%);}
.galleryBGPulse{
  animation: galleryBGPulse 10s infinite;
}
@keyframes galleryBGPulse{
  0%  {
    -webkit-filter: opacity(100%); 
	filter: opacity(100%);
	-webkit-filter: contrast(100%); 
	filter: contrast(100%);;
  }
  70% {
	-webkit-filter: opacity(50%); 
	filter: opacity(50%);
	-webkit-filter: contrast(200%); 
	filter: contrast(200%);;
  }
  100% {
    -webkit-filter: opacity(100%); 
	filter: opacity(100%) 
	-webkit-filter: contrast(100%); 
	filter: contrast(100%);;
  }
}
@keyframes galleryGalleryPulse{
	0% {
		-webkit-filter: blur(0px); filter: blur(0px);
		-webkit-filter: contrast(100%); filter: contrast(100%);
	}
	45% {
		-webkit-filter: blur(0px); filter: blur(0px);
		-webkit-filter: contrast(100%); filter: contrast(100%);
	}
	60% {
		-webkit-filter: blur(2px); filter: blur(2px);
		-webkit-filter: contrast(120%); filter: contrast(120%);
	}
	100% {
		-webkit-filter: blur(0px); filter: blur(0px);
		-webkit-filter: contrast100%); filter: contrast(100%);
	}
}


								/* PORTFOLIO PROJECTS */

#projectTitle {
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	padding-left: 20px;
    margin-left: 15%;
	margin-bottom: 10px;
	width: 20em;
	font-weight: bolder;
}

#projectScratch {
	display: block;
    margin-left: 15%;
	float: left;
	padding-right: 20px;
}

#projectYoutube {
	display: block;
    margin-left: 15%;
	float: left;
	padding-right: 20px;
}

#projectPython {
	display: block;
    margin-left: 15%;
	float: left;
	padding-right: 20px;
}


div.projectDesc {
	width: 1400px;
}
div.projectDesc h1 {
	font-weight: normal;
	font-size: 20px;
}
div.projectDesc p {
	margin-bottom: 20px;
}
div.projectDesc a {
	text-decoration: none;
	font-family: 'Indie Flower', cursive;
	font-size:20px;
}
div.projectDesc a:hover {
	color: white;
	text-decoration: underline;
}
